<h1>Search Users</h1>
{{#if error}} <span>{{error}}</span>{{/if}}
<form action="/users/search" class="form-inline" method="POST">
   <div class="form-group">
      <input type="text" name="id" placeholder="User ID" class="form-control">
   </div>
   <input type="submit" class="btn btn-primary" value="search">
</form>